<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddARecord</servlet-name>
        <servlet-class>AddARecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>readARecord</servlet-name>
        <servlet-class>readARecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertMultiRecord</servlet-name>
        <servlet-class>insertMultiRecord</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddARecord</servlet-name>
        <url-pattern>/AddARecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>readARecord</servlet-name>
        <url-pattern>/readARecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertMultiRecord</servlet-name>
        <url-pattern>/insertMultiRecord</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
